<p id="notice"><%= notice %></p>

<h1> <%= @user.username %> </h1>
<p>has made <%= @user.ratings.count %> ratings</p>
    <% if not @user.ratings.empty? %>
    <p>average rating <%= @user.average_rating %></p>
<% end %>
<p>favorite beer style is <%= @user.favorite_style %></p>
<p>favorite brewery is <%= @user.favorite_brewery %></p>
<p><strong>member of</strong>
<% @membership.each do |membership| %>
  <%if membership.user_id==@user.id %>
      <%= link_to membership.beerclub, beerclub_path(membership.beerclub)%>
  <% end %>
<% end %>
</p>

<p><strong>ratings</strong></p>
<ul>
    <% @user.ratings.each do |rating|%>
        <li><%= rating %>
          <% if @user == current_user %>
            <%= link_to 'delete', rating, :method => :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </li>
    <% end %>
</ul>

<% if @user == current_user %>
    <%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
