<p id="notice"><%= notice %></p>

<h1> <%= @user.username %> </h1>
<p>has made <%= @user.ratings.count %> ratings</p>
<% if not @user.ratings.empty? %>
<p>average rating <%= @user.average_rating %></p>
<% end %>
<p><strong>ratings</strong></p>
<ul>
<% @user.ratings.each do |rating|%>
<li><%= rating %> <%= link_to 'delete', rating, :method => :delete, data: {confirm: 'Are you sure?'} %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
