<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beerclub.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beerclub.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beerclub.city %>
</p>
<p><strong>Members:</strong></p>
<ul>
  <% @membership.each do |membership| %>
     <%if membership.beerclub_id==@beerclub.id %>
        <li><%= membership.user %></li>
     <% end %>
  <% end %>
</ul>


<%= link_to 'Edit', edit_beerclub_path(@beerclub) %> |
<%= link_to 'Back', beerclubs_path %>
