<p id="notice"><%= notice %></p>

<h1><%= @beerclub.name %></h1>

<p>
  <strong>Founded:</strong>
  <%= @beerclub.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beerclub.city %>
</p>
<p><strong>Members:</strong></p>
<ul>
  <% @memberships.each do |membership| %>
     <%if membership.beerclub_id==@beerclub.id %>
        <li><%= link_to membership.user, user_path(membership.user_id) %></li>
     <% end %>
  <% end %>
</ul>
<% if current_user and @clubs_to_join.include?(@beerclub) %>
   <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beerclub_id, :value => @beerclub.id %>
        <%= f.submit value: "join the club " %>
   <% end %>
<% end %>

<%= link_to 'Edit', edit_beerclub_path(@beerclub) %> <br>
<%= link_to 'Destroy the club', @beerclub, method: :delete, data: { confirm: 'Are you sure?' } %>

